{% extends 'base.html.twig' %}

{% block title %}Product List{% endblock %}

{% block body %}
<h1>Category List</h1>

{% for message in app.flashes('message') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}

<table border="1" cellpadding="10">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
    {% for category in categories %}
        <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
        
            <td>
                <a href="{{ path('read_category', {'id': category.id}) }}">View</a> |
                <a href="{{ path('edit_category', {'id': category.id}) }}">Edit</a> |
                <a href="{{ path('delete_category', {'id': category.id}) }}">Delete</a>
            </td>
        </tr>
    {% else %}
        <tr><td colspan="6">No categories found.</td></tr>
    {% endfor %}
    </tbody>
</table>

<a href="{{ path('create_category') }}"> Add New Category</a>
{% endblock %}




