{% extends 'base.html.twig' %}

{% block title %}Subcategory List{% endblock %}

{% block body %}
<h1>Subcategory List</h1>

{% for message in app.flashes('message') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}

<table border="1" cellpadding="10">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
    {% for subcategory in subcategories %}
        <tr>
            <td>{{ subcategory.id }}</td>
            <td>{{ subcategory.name }}</td>
            <td> {% for category in subcategory.categories %}
                {{ category.name }}{% if not loop.last %}, {% endif %}
                 {% endfor %}</td>
            
                <a href="{{ path('read_subcategory', {'id': subcategory.id}) }}">View</a> |
                <a href="{{ path('edit_subcategory', {'id': subcategory.id}) }}">Edit</a> |
                <a href="{{ path('delete_subcategory', {'id': subcategory.id}) }}">Delete</a>
            </td>
        </tr>
    {% else %}
        <tr><td colspan="6">No subcategory found.</td></tr>
    {% endfor %}
    </tbody>
</table>

<a href="{{ path('create_subcategory') }}"> Add New Subcategory</a>
{% endblock %}


