{% extends 'base.html.twig' %}

{% block title %}Product List{% endblock %}

{% block body %}
<h1 >Product List</h1>

{% for message in app.flashes('message') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}

<table class="border border-gray-300 w-full">
    <thead>
        <tr class="bg-gray-100">
            <th class="px-4 py-2 text-lef">ID</th>
            <th class="px-4 py-2 text-lef">Name</th>
            <th class="px-4 py-2 text-lef">Description</th>
            <th class="px-4 py-2 text-lef">Price</th>
            <th class="px-4 py-2 text-lef">Category</th>
            <th class="px-4 py-2 text-lef">Subcategory</th>
            <th class="px-4 py-2 text-lef">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr  class="border-t border-gray-200 hover:bg-gray-50">
            <td class="px-4 py-2">{{ product.id }}</td>
            <td class="px-4 py-2">{{ product.name }}</td>
            <td class="px-4 py-2">{{ product.description }}</td>
            <td class="px-4 py-2">{{ product.price }}</td>
            <td class="px-4 py-2">{{ product.category.name }}</td>
            <td class="px-4 py-2">{{ product.subcategory ? product.subcategory.name : 'N/A' }}</td>
            <td>
                <a href="{{ path('read_product', {'id': product.id}) }}">View</a> |
                <a href="{{ path('edit_product', {'id': product.id}) }}">Edit</a> |
                <a href="{{ path('delete_product', {'id': product.id}) }}">Delete</a>
            </td>
        </tr>
    {% else %}
        <tr><td colspan="7">No products found.</td></tr>
    {% endfor %}
    </tbody>
</table>

<a href="{{ path('create_product') }}"> Add New Product</a>
{% endblock %}




